{
  "logger": {
    "debug": false,
    "dateFormat": "DD.MM.YYYY HH:mm:ss"
  },
  "client": {
    "intents": [
      32767
    ]
  },
  "locale": "en",
  "token": "sz52gBAeLAKBYDPvQepP4GUd.u3WUu4.OgQK1F2eyo_19jEVEbK8JudFXc4",
  "prefix": "//"
}